header{
    display: flex;
    justify-content: space-between;
   position: fixed;
   top: 0;
   left: 0;
    /* height: 150px; */
    background-color: #eee;
    box-shadow: 0 3PX 10PX black;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px 35px 20px 35px;
    
    z-index: 99;
}

header .logo{
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
}

header .nav ul a{
    display: inline;
    margin-left: 28px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
}

header .nav ul a:hover{
    border-bottom: 4px solid #277cae;
  
}

header .nav ul .active{
   border-bottom: 4px solid #277cae;
   
}